{% extends 'core/base.html' %}

{% block title%}Acerca de mi{% endblock %}

{% block background %}{% load static%}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de mi</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/face_co.png' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">


          <h2 class="section-heading">Pablo Fernández</h2>   
          <p>Licenciado en Robótica y Programador.</p>
          <p>Apasionado por las nuevas tecnologías, cultivo el gusto por los detalles. El código también 
             se puede ver como un arte. Me gusta trabajar en equipo.</p>
          <p>Linux dependiente, programo en mis ratos libres.</p>   

        </div>
         <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Cursos</h2>   
          <p>Python en la UNSAM, orientación a objetos, manejo de archivos, manejo y limpieza de datos. 
             Agosto de 2021.</p>
          <p>Python curso introductorio en UTN fra, funciones, objetos, introducción a django.
             Agosto de 2019.</p>
          <p>Universidad de Lomas de Zamora Licenciatura en Robótica. Año 2016.</p>   

        </div>
        <div class="col-lg-14 col-md-16">
        <h2 class="section-heading">Habilidades</h2>   
          <p>Buen manejo de HTML5, CSS3, Sql.</p>
          <p>Línea de Comandos.</p>
          <p>Empece Programando en C.</p>  
          <p>Inglés, buen nivel oral y escrito.</p>  


        </div>
        <div class="col-lg-7 col-md-8">
        <h2 class="section-heading"><a href="https://github.com/polifer27">Mi Github</a></h2>


        </div>
        <div class="col-lg-14 col-md-16">
        <h2 class="section-heading"><a href="https://linkedin.com/polifer27">Linkedin</a></h2>   
          

        </div>
</div>
{% endblock %}