{% extends 'core/base.html' %}

{% block title%}Contacto{% endblock %}
{% block background %}{% load static%}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Residente en la ciudad de Buenos Aires.<br>
         Disponible para todo el mundo de manera online.</p>
        <br>
        <p><b>Teléfono:</b> +54 911 33580580</p>
        <p><b>Honorarios:</b> u$50 la hora</p>
        <p><b>Mail: </b>fernandezpablo27@yahoo.com.ar</p>
    </div>
</div>          
{% endblock %}    