{% extends 'core/base.html' %}

{% block title%}Contacto{% endblock %}
{% block background %}{% load static%}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock %}

{% block content %}
<div class="row">
    <!--<div class="col-auto bg-danger p-5 text-center">-->
    <div class="col-lg-8 col-md-10 mx-auto text-center">
        <p>Residente en la ciudad de Buenos Aires.<br>
         Disponible para todo el mundo de manera online.</p>
        <br>
        
        <p>Mira mi <a href="https://www.linkedin.com/in/polifer27/">Linkedin</a></p>
        <br>
        <p><b>Mail: </b>fernandezpablo27@yahoo.com.ar</p>
    </div>
</div>          
{% endblock %}    